In [29]:
import os
k = os.getcwd()
print(os.listdir(k))

['.ipynb_checkpoints', '.ipython', '.jupyter', '.matplotlib', '3D Objects', 'Advance Python.ipynb', 'AppData', 'Application Data', 'Contacts', 'Cookies', 'Desktop', 'Documents', 'Downloads', 'Exploratory Data Analysis.ipynb', 'Favorites', 'GforG_OOP.ipynb', 'IMDB_analysis.ipynb', 'IMDB_data.csv', 'Links', 'Local Settings', 'mtcars_trial.ipynb', 'Music', 'My Documents', 'NetHood', 'NTUSER.DAT', 'ntuser.dat.LOG1', 'ntuser.dat.LOG2', 'NTUSER.DAT{41d25f1d-aa4d-11e9-b3c0-b88584bebe4b}.TM.blf', 'NTUSER.DAT{41d25f1d-aa4d-11e9-b3c0-b88584bebe4b}.TMContainer00000000000000000001.regtrans-ms', 'NTUSER.DAT{41d25f1d-aa4d-11e9-b3c0-b88584bebe4b}.TMContainer00000000000000000002.regtrans-ms', 'ntuser.ini', 'ntuser.pol', 'Numpy_Py_Co_EU.ipynb', 'OneDrive', 'OneDrive - Accenture', 'Pictures', 'population_table.csv', 'PrintHood', 'Recent', 'Saved Games', 'Searches', 'SendTo', 'Start Menu', 'Templates', 'Videos']

In [101]:
#importing CSV file without second row

import pandas as pd
df = pd.read_csv("IMDB_data.csv", encoding= 'ISO-8859-1' , skiprows=range(2,3))
print(type(df))
df.head(5)

<class 'pandas.core.frame.DataFrame'>

,Plot,Title,imdbVotes,Poster,imdbRating,Genre,imdbID,Year,Language
0,Despite his tarnished reputation after the eve...,The Dark Knight Rises,2679,http://ia.media-imdb.com/images/M/MV5BMTk4ODQz...,75,"Action, Thriller",tt1345836,2012,English
1,"Based on the novel written by Stephen Chbosky,...",The Perks of Being a Wallflower,1270,http://ia.media-imdb.com/images/M/MV5BMzIxOTQy...,71,"Drama, Romance",tt1659337,2012,English
2,Mike Lane is a thirty-year old living in Tampa...,Magic Mike,2580,http://ia.media-imdb.com/images/M/MV5BMTQzMDMz...,51,"Comedy, Drama",tt1915581,2012,English
3,When Bond's latest assignment goes gravely wro...,Skyfall,1807,http://ia.media-imdb.com/images/M/MV5BMjAyODkz...,68,"Action, Thriller",tt1074638,2012,English
4,Against medical advice and without the knowled...,Silver Linings Playbook,1828,http://ia.media-imdb.com/images/M/MV5BMTM2MTI5...,68,"Comedy, Drama, Romance",tt1045658,2012,English

In [112]:
# Extracting the unique genres and its count 

vc = df.Genre.value_counts()  #gives unique genreand thier respective count
lis1 = list(vc.index) 
lis2 = list(vc.values)

# Alternatives to get unique values

#df.Genre.unique()
#pd.unique(df.Genre)
#df['Genre'].unique()


pd.DataFrame({"Unique_Genre":lis1,"Count": lis2})  # storing the Series in Dataframe with index


#print(vc)
#df.Genre.nunique()
#print(type(x))

                                          Unique_Genre  Count
0                                                Drama    689
1                                               Comedy    389
2                                        Comedy, Drama    231
3                               Comedy, Drama, Romance    169
4                                               Horror    115
5                                       Drama, Romance    105
6                                      Comedy, Romance     77
7                                      Drama, Thriller     74
8                                     Horror, Thriller     68
9                               Crime, Drama, Thriller     61
10                                       Drama, Family     53
11                                Action, Crime, Drama     49
12                                        Crime, Drama     48
13                               Comedy, Drama, Family     43
14                                              Action     41
15                            Drama, Mystery, Thriller     40
16                                Comedy, Crime, Drama     33
17                                              Sci-Fi     31
18                           Horror, Mystery, Thriller     29
19                                      Drama, Mystery     28
20                                   Mystery, Thriller     27
21                                              Family     25
22                                       Action, Drama     24
23                            Adventure, Comedy, Drama     24
24                               Action, Comedy, Drama     23
25                              Comedy, Drama, Fantasy     22
26                                             Mystery     21
27                                             Musical     21
28                                               Crime     20
29                                        Drama, Music     20
..                                                 ...    ...
219                     Comedy, Drama, Family, Musical      1
220             Action, Crime, Drama, Mystery, Romance      1
221                    Musical, Romance, Drama, Family      1
222          Adventure, Drama, Musical, Romance, Sport      1
223            Action, Comedy, Crime, Musical, Romance      1
224                           Musical, Comedy, Romance      1
225  Action, Adventure, Biography, Drama, History, ...      1
226  Action, Drama, Musical, Mystery, Romance, Thri...      1
227                                Drama, Romance, War      1
228                     Action, Drama, Family, Musical      1
229                    Drama, Fantasy, Romance, Sci-Fi      1
230                 Action, Adventure, Romance, Sci-Fi      1
231                         Action, Biography, History      1
232           Action, Comedy, Crime, Romance, Thriller      1
233          Action, Biography, Crime, Sport, Thriller      1
234                        Adventure, Musical, Romance      1
235              Action, Drama, History, Thriller, War      1
236                    Action, Adventure, Crime, Drama      1
237                   Action, Adventure, Comedy, Drama      1
238                    Action, Drama, History, Musical      1
239          Action, Drama, History, Romance, Thriller      1
240                      Comedy, Drama, Music, Romance      1
241                     Family, Comedy, Drama, Fantasy      1
242                    Drama, Family, Fantasy, History      1
243                     Comedy, Drama, Family, Romance      1
244         Action, Comedy, Musical, Romance, Thriller      1
245                     Biography, Drama, History, War      1
246                  Adventure, Comedy, Drama, Romance      1
247       Action, Adventure, Fantasy, Horror, Thriller      1
248                            Musical, Drama, Romance      1

[249 rows x 2 columns]

In [125]:
df.info()
#since all the columns are of dtype object(String) we only need imdbRating  and imdbVotes  as integers for further transformations
df['imdbVotes'].isnull().values.any()
#df['imdbVotes'].apply(lambda x:x.replace(',','')).astype('float')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3389 entries, 0 to 3388
Data columns (total 9 columns):
Plot          3389 non-null object
Title         3389 non-null object
imdbVotes     3334 non-null object
Poster        1836 non-null object
imdbRating    3388 non-null object
Genre         3389 non-null object
imdbID        3389 non-null object
Year          3389 non-null object
Language      3389 non-null object
dtypes: object(9)
memory usage: 238.4+ KB

True