In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency
import seaborn as sns
from random import randrange,uniform

In [10]:
os.getcwd()

'C:\\Users\\ishwar.suresh.borse'

In [15]:
os.listdir("C:/Users/ishwar.suresh.borse")

['.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.matplotlib',
 '3D Objects',
 'Advance Python.ipynb',
 'AppData',
 'Application Data',
 'CaseStudy_MarketingCampaign.ipynb',
 'Contacts',
 'Cookies',
 'Desktop',
 'Documents',
 'Downloads',
 'Exploratory Data Analysis.ipynb',
 'Favorites',
 'GforG_OOP.ipynb',
 'IMDB_analysis.ipynb',
 'IMDB_data.csv',
 'Links',
 'Local Settings',
 'marketing_tr.csv',
 'mtcars_trial.ipynb',
 'Music',
 'My Documents',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{41d25f1d-aa4d-11e9-b3c0-b88584bebe4b}.TM.blf',
 'NTUSER.DAT{41d25f1d-aa4d-11e9-b3c0-b88584bebe4b}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{41d25f1d-aa4d-11e9-b3c0-b88584bebe4b}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'ntuser.pol',
 'Numpy_Py_Co_EU.ipynb',
 'OneDrive',
 'OneDrive - Accenture',
 'Pictures',
 'population_table.csv',
 'PrintHood',
 'Recent',
 'Saved Games',
 'Searches',
 'SendTo',
 'Start Menu',
 'Templates',
 'Videos']

In [21]:
marketing_train = pd.read_csv("C:/Users/ishwar.suresh.borse/marketing_tr.csv")
print(marketing_train.shape)
marketing_train.head(10)

(7414, 22)

,custAge,profession,marital,schooling,default,housing,loan,contact,month,day_of_week,...,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,pmonths,pastEmail,responded
0,55.0,admin.,single,university.degree,unknown,no,no,cellular,nov,mon,...,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,999.0,0,no
1,NaN,blue-collar,married,NaN,no,no,no,cellular,jul,mon,...,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,999.0,0,no
2,42.0,technician,married,high.school,no,no,no,telephone,may,mon,...,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,999.0,0,no
3,55.0,management,divorced,NaN,unknown,yes,yes,cellular,jul,wed,...,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,999.0,0,no
4,NaN,admin.,divorced,university.degree,no,yes,no,cellular,may,tue,...,1,failure,-1.8,92.893,-46.2,1.291,5099.1,999.0,1,no
5,47.0,blue-collar,married,basic.4y,no,yes,no,telephone,may,fri,...,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,999.0,0,no
6,35.0,services,single,NaN,no,yes,no,telephone,may,tue,...,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,999.0,0,yes
7,NaN,services,married,high.school,no,yes,no,telephone,may,wed,...,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,999.0,0,no
8,28.0,unemployed,married,basic.9y,no,yes,no,cellular,may,fri,...,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,999.0,0,no
9,46.0,blue-collar,married,basic.9y,no,yes,no,cellular,nov,mon,...,1,failure,-0.1,93.200,-42.0,4.191,5195.8,999.0,0,no

In [22]:
#Exploratory Data Analysis
marketing_train['schooling'] = marketing_train['schooling'].replace("illiterate", "unknown")
marketing_train['schooling'] = marketing_train['schooling'].replace(["basic.4y","basic.6y","basic.9y","high.school","professional.course"], "high.school")
marketing_train['default'] = marketing_train['default'].replace("yes", "unknown")
marketing_train['marital'] = marketing_train['marital'].replace("unknown", "married")
marketing_train['month'] = marketing_train['month'].replace(["sep","oct","mar","dec"], "dec")
marketing_train['month'] = marketing_train['month'].replace(["aug","jul","jun","may","nov"], "jun")
marketing_train['loan'] = marketing_train['loan'].replace("unknown", "no")
marketing_train['profession'] = marketing_train['profession'].replace(["management","unknown","unemployed","admin."], "admin.")
marketing_train['profession'] = marketing_train['profession'].replace(["blue-collar","housemaid","services","self-employed","entrepreneur","technician"], "blue-collar")

In [ ]:
Missing Value Analysis

In [69]:
missing_val = pd.DataFrame(marketing_train.isnull().sum())
missing_val

                   0
custAge         1804
profession         0
marital            0
schooling       2155
default            0
housing            0
loan               0
contact            0
month              0
day_of_week      711
campaign           0
pdays              0
previous           0
poutcome           0
emp.var.rate       0
cons.price.idx     0
cons.conf.idx      0
euribor3m          0
nr.employed        0
pmonths            0
pastEmail          0
responded          0

In [70]:
missing_val = missing_val.reset_index()
missing_val

             index     0
0          custAge  1804
1       profession     0
2          marital     0
3        schooling  2155
4          default     0
5          housing     0
6             loan     0
7          contact     0
8            month     0
9      day_of_week   711
10        campaign     0
11           pdays     0
12        previous     0
13        poutcome     0
14    emp.var.rate     0
15  cons.price.idx     0
16   cons.conf.idx     0
17       euribor3m     0
18     nr.employed     0
19         pmonths     0
20       pastEmail     0
21       responded     0

In [71]:
missing_val = missing_val.rename(columns={'index':  'variables', 0 : 'Missing_percentage'})
missing_val

         variables  Missing_percentage
0          custAge                1804
1       profession                   0
2          marital                   0
3        schooling                2155
4          default                   0
5          housing                   0
6             loan                   0
7          contact                   0
8            month                   0
9      day_of_week                 711
10        campaign                   0
11           pdays                   0
12        previous                   0
13        poutcome                   0
14    emp.var.rate                   0
15  cons.price.idx                   0
16   cons.conf.idx                   0
17       euribor3m                   0
18     nr.employed                   0
19         pmonths                   0
20       pastEmail                   0
21       responded                   0

In [72]:
missing_val['Missing_percentage']  = (missing_val['Missing_percentage']/len(marketing_train))*100
missing_val

         variables  Missing_percentage
0          custAge           24.332344
1       profession            0.000000
2          marital            0.000000
3        schooling           29.066631
4          default            0.000000
5          housing            0.000000
6             loan            0.000000
7          contact            0.000000
8            month            0.000000
9      day_of_week            9.589965
10        campaign            0.000000
11           pdays            0.000000
12        previous            0.000000
13        poutcome            0.000000
14    emp.var.rate            0.000000
15  cons.price.idx            0.000000
16   cons.conf.idx            0.000000
17       euribor3m            0.000000
18     nr.employed            0.000000
19         pmonths            0.000000
20       pastEmail            0.000000
21       responded            0.000000

In [80]:
missing_val = missing_val.sort_values(by='Missing_percentage',ascending=False).reset_index(drop=True)

missing_val.to_csv("missing_val.csv")